<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provinces</title>
</head>
<body>
<a href="/create-book">Create new province</a>
<h1>Provinces</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.name}"></td>
            <td><a th:href="@{/edit-book/__${book.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-book/__${book.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>